*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html{
    background-color: #686A6C;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center ;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.weather-interface-btn  {
    margin-top: 10px;
    display: flex;
    
}
.weather-interface-btn-bottom {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.weather-text {
    margin-top: 10px;
    color: #dbce14;
    background-color: #333399;
    padding: 20px;
    text-align: center;
}

.weatherByLonLat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 10px;
}
.weatherByLonLat-btn {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.weather-interface-input {
    display: flex;
    align-items: center;
    margin-top: 5px;
}